apiVersion: apps/v1
kind: Deployment
metadata:
  name: node-pool
  namespace: apps
  labels:
    app: node-pool
spec:
  replicas: 1
  selector:
    matchLabels:
      app: node-pool
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: node-pool
    spec:
      serviceAccountName: blockchain-sa
      containers:
        - name: node-pool
          image: sebajuarez/minerpool:0a99bd4
          ports:
            - containerPort: 8081
          envFrom:
            - secretRef:
                name: pool-secrets