apiVersion: v1
kind: Secret
metadata:
  name: coordinador-secrets
  namespace: apps
type: Opaque
stringData:
  PORT: "8080"
  SPRING_RABBITMQ_HOST: 
  SPRING_RABBITMQ_PORT:
  SPRING_RABBITMQ_USERNAME:
  SPRING_RABBITMQ_PASSWORD:
  SPRING_DATA_REDIS_HOST:
  SPRING_DATA_REDIS_PORT:
  SPRING_DATA_REDIS_PASSWORD:
  BLOCKCHAIN_MINING_HASH_CHALLENGE: "0000"
  BLOCKCHAIN_MINING_TRANSACTIONS_PER_BLOCK: "5"
  BLOCKCHAIN_MINING_TASK_PUBLICATION_CRON: "0 */1 * * * *"