apiVersion: v1
kind: Secret
metadata:
  name: pool-secrets
  namespace: apps
type: Opaque
stringData:
  # Server
  SERVER_PORT: "8081"

  # Redis
  SPRING_REDIS_HOST:
  SPRING_REDIS_PORT:

  # RabbitMQ
  SPRING_RABBIT_HOST:
  SPRING_RABBIT_PORT:
  SPRING_RABBIT_USERNAME:
  SPRING_RABBIT_PASSWORD:

  # Scheduler
  MINER_STATUS_CHECK_INTERVAL: "15000"

  # Feign
  FEIGN_CONNECT_TIMEOUT: "5000"
  FEIGN_READ_TIMEOUT: "30000"

  # Metadata
  METADATA_COORDINATOR_URL: "http://nodo-coordinador:8080"

  # GCP 
  GCP_PROJECT_ID: 
  GCP_COMPUTE_ZONE:
  GCP_COMPUTE_MIG_NAME: